<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="type/css" href="/static/CSS/Login_page.css">
</head>
<body>
<div class="login_page" id="login_platform">
    <div id="l-p-top"></div>
    <form method="post" action="/login_action/" id="l-form">
    <input name="username" type="text" placeholder="username"><br>
    <input name="password" type="password" placeholder="password"><br>
    {{ error }}<br> <!--对应render中返回字典中的key-->
    <button id="btn" type="submit">登录</button>
    {% csrf_token %}  <!--添加CSRF令牌-->
</form>
</div>
</body>
</html>